# tmp files
*~
\#*#
.DS_Store
.idea
*.log
tmp/

# universal tags
.tags/
.tags

# tex tmp files
*.aux
*.log
_minted-*/
*.synctex.gz
*.nav
*.toc
*.vrb
*.snm
*.out
.auctex-auto/

# C compile files
*.o
*.ko
*.lo
*.slo
*.obj
*.gch
*.pch
*.so
*.dylib
*.lai
*.la
*.a
*.lib
compile_commands.json

# gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS files
*.log

# Android Studio gen. files and folders
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof

obj/
libs/
*.class
